<h1>Edit task</h1>

<%= render partial: "form", locals: {task: @task} %>


<div class="form-group">
  <div class="col-sm-offset-1 col-sm-11">
    <div class="checkbox">
      <label>
        <input type="checkbox"> Complete
      </label>
    </div>
  </div>
</div>



<!-- <%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %> -->
