<h1>Edit User</h1>

<%= render 'form' %>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-5 well">
    <p class="text-center"><%= link_to "Delete User", user_path(@user), method: :delete, data:{ confirm: "Are you sure?"}, class:"btn btn-danger" %></p>
  </div>
</div>
